# Ignore editor specific config folders/files
/.vscode

# Ignore N64 build files
*/N64/tiny3d*
*/N64/libdragon*
!*/N64/filesystem/help/*.txt
*/N64/filesystem/*
*/N64/build/*
**/*.z64

# Ignore FM Towns build files
*/FM_Towns/bin/*
*/FM_Towns/build/*
*/FM_Towns/release/*
*/FM_Towns/boot/build/
*/FM_Towns/boot/cdimage.iso
*/FM_Towns/boot/floppy*.bin
*/FM_Towns/boot/smoke.bin
